<ngx-spinner class="spinner" bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-spin-clockwise-fade"
  fullScreen=false>
</ngx-spinner>

<ng-container *ngFor="let item of events">
    <list-tile [data]=item actionName="Registration" (actionClick)=register($event)></list-tile>
</ng-container>
