<div class="app">
  <ng-container>
    <header class="header-container">
        <a class="header-text" [routerLink]="['/']" routerLinkActive="active">
          EventS
        </a>
        <div>
            <a class="header-text" [routerLink]="['/login']" routerLinkActive="active">
              {{LogOrName}}
            </a>
            <a class="header-text">
              /
            </a>
            <a class="header-text" [routerLink]="['/register-organization']" routerLinkActive="active">
              Register organization
            </a>
        </div>

    </header>
  </ng-container>

  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</div>