.app {
  flex-direction: column;

  header {
      display: flex;
      padding: 25px;
      justify-content: space-between;
      background: #2d2d35;
      align-items: center;
    
      a {
        text-decoration: none;
      }

    .header-text{
        color: lightgrey;
        font-weight: 600;
        font-size: 18px;

        &:hover{
          color: grey;
        }
      }
}

  .router{
    display: flex;
    width: 100%;
    height: 100%;
  }

}