<div class="flex-container item-content">
    <div class="flex-container item-row">
        <div class="first-row">
            <div class="image">
                <img src="{{data.picture}}">
            </div>
            <div class="item-name">
                {{data.name}}
            </div>
        </div>
        <div class="item-info">
            <div class="item-description">
                {{data.description}}
            </div>
            <div>
                <button type="button" (click)="onActionClick($event)">{{actionName}}</button>
            </div>
        </div>
    </div>
</div>