@import "../../../../styles.scss";

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-content {
  margin-top: 15px;
  justify-content: center;

  .item-row {
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 70%;
    border-radius: 15px;
    background-color: lightgray;
    &:hover {
      background-color: grey;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .first-row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .item-name {
        flex: 0 1 auto;
        margin: 20px 10px 10px 20px;
        font-weight: 600;
        font-size: 20px;
      }

      .image {
        flex: 0 1 auto;
        align-self: center;

        img {
          width: 340px;
        }
      }
    }

    button {
      margin-top: 10px;
    }

    .item-info {
      margin: 20px 10px 10px 20px;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;

      .item-description {
        flex: 0 1 auto;
        font-size: 14px;
      }
    }
  }
}
