<ng-container class="flex-container container">

    <ng-container class="flex-container spinner-container">
        <ngx-spinner class="spinner" bdOpacity=0.9 bdColor="#333" size="medium" color="#fff"
            type="ball-spin-clockwise-fade" fullScreen=false>
        </ngx-spinner>
    </ng-container>
    <div *ngIf="isError">
        <h1>
            error loading
        </h1>
    </div>

    <ng-container *ngFor="let item of organizations">
        <list-tile [data]=item actionName="Go to events" (actionClick)=goToEvents($event)></list-tile>
    </ng-container>

 
</ng-container>