.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}


.form-container {
  display: flex;
  justify-content: center;
  height: 100%;

  .registration-form {
    flex: auto;
    width: 100%;
  }

  .form-row {
      h1{
          font-weight: 600;

      }
      width: 200px;
      margin: 20px;
  }
}


.btn {
  margin-top: 20px;

  &.disabled {
    cursor: not-allowed;
    background: grey;
  }
}