<form (ngSubmit)="form.valid && onSubmit()" #form="ngForm" class="form-container ">
  <div class="form-row">
      <h1>
          Admin info
        </h1>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="userModel.userName" name="nameInput"
              #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>
      
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="userModel.email" name="emailInput"
              #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email is required
            </div>
          </div>
      
          <div class="form-group">
            <label for="phone_number">Phone number</label>
            <input type="number" class="form-control" id="phone_number" required [(ngModel)]="userModel.phoneNumber"
              name="numberInput" #phone_number="ngModel">
            <div [hidden]="phone_number.valid || phone_number.pristine" class="alert alert-danger">
              Phone number is required
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="userModel.password" #password="ngModel"
              required />
            <div *ngIf="form.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
  </div>
  <div class="form-row">
      <h1>
          Organization info
        </h1>
        <div class="form-group">
          <label for="orgname">Org-name</label>
          <input type="text" class="form-control" id="orgname" required [(ngModel)]="orgModel.name" name="orgnameInput"
            #orgname="ngModel">
          <div [hidden]="orgname.valid || orgname.pristine" class="alert alert-danger">
              Org-name is required
          </div>
        </div>
    
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]="orgModel.description" name="descriptionInput"
            #description="ngModel"></textarea>
        </div>
    
        <div class="form-group">
          <label for="picture">Picture url</label>
          <input type="text" class="form-control" id="picture" [(ngModel)]="orgModel.picture" name="pictureInput" #picture="ngModel">
        </div>
        
        <button type="submit" [ngClass]="{'disabled': !form.valid}" class="btn">Submit</button>
  </div>

  </form>
  <ng-container class="spinner-container">
    <ngx-spinner class="spinner" bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-spin-clockwise-fade"
      fullScreen=false>
    </ngx-spinner>
  </ng-container>
