<div class="form-container">
  <div class="registration-form">
    <form (ngSubmit)="form.valid && onSubmit()" *ngIf="!registered" #form="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="nameInput"
          #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="emailInput"
          #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is required
        </div>
      </div>

      <div class="form-group">
        <label for="phone_number">Phone number</label>
        <input type="number" class="form-control" id="phone_number" required [(ngModel)]="model.phoneNumber"
          name="numberInput" #phone_number="ngModel">
        <div [hidden]="phone_number.valid || phone_number.pristine" class="alert alert-danger">
          Phone number is required
        </div>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" required [(ngModel)]="model.company" name="companyInput"
          #company="ngModel">
        <div [hidden]="company.valid || company.pristine" class="alert alert-danger">
          Company is required
        </div>
      </div>

      <div class="form-group">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" [(ngModel)]="model.position" name="positionInput"
          #position="ngModel">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" [(ngModel)]="model.city" name="cityInput" #city="ngModel">
      </div>

      <div class="form-group">
        <label for="offline_participation">Offline participation</label>
        <select class="form-control" id="offline_participation" required [(ngModel)]="model.offlineParticipation"
          name="offline_participation" #offline_participation="ngModel">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
        <div [hidden]="offline_participation.valid || offline_participation.pristine" class="alert alert-danger">
          Offline participation
        </div>
      </div>

      <button type="submit" [ngClass]="{'disabled': !form.valid}" class="btn">Submit</button>
    </form>

    <div class="registered-greeting" *ngIf="registered">
      <h3>
        Registration successfull
      </h3>
      <button type="button" class="btn" (click)="goToEvent()">Go to event</button>
    </div>
  </div>


  <div>
      <ngx-spinner class="spinner" bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-spin-clockwise-fade"
      fullScreen=false>
    </ngx-spinner>
  </div>
</div>

