<ng-container *ngIf="isSysAdmin">
  
</ng-container>
<p>admin-works></p>
<ng-container class="spinner-container">
  <ngx-spinner class="spinner" bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-spin-clockwise-fade"
    fullScreen=false>
  </ngx-spinner>
</ng-container>
