@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@mixin background-image($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

.flex-container {
  display: flex;
}

* {
  font: 300 15px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
  height: 100%;
  flex: 0 0 15%;
  padding: 20px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  a {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 16px;
    border-left: 3px solid transparent;
    &.active {
      color: rgba(0, 0, 0, 0.8);
      border-left-color: #9f72e6;
      background: rgba(0, 0, 0, 0.03);
    }
  }
}

body {
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  color: #545e6f;
}

img {
  vertical-align: bottom;
}

img a {
  border: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #eeeeee;
}
textarea{
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #eeeeee;
}

label {
  display: block;
}

button {
  cursor: pointer;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
  background: #2e2727;
}

p {
  margin: 5px 0;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

form {
  flex: 1 0;
  padding: 0 40px;
}

label {
  margin-top: 20px;
}
